.main{
    background:url("/assets/batman.jpg")  no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
  /* overflow: hidden; */
  height: 100vh;
  text-align: center;
}
