<nav class="navbar navbar-expand-lg navbar-dark bg-dark text-light">
  <a class="navbar-brand" routerLink="/home">
    <img src="assets/logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
    Book Your Show
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active current">
        <a class="nav-link" routerLink="/movies">Movies</a>
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>