<br>
<div class="container">
  <h2>List of Colleges</h2>
  <div class="list-group">
    <a *ngFor="let data of data" class="list-group-item list-group-item-action flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">{{data.id}}. {{data.clg}}</h5>
        <small><i class="fas fa-star"></i>&nbsp;{{data.rating}}</small>
      </div>
      <p class="mb-1">location: {{data.location}}</p>
      <small>No of Students: {{data.nos}}</small>
    </a>
  </div>
  <br>
  <button class="btn btn-primary" (click)="home()"><i class="fas fa-home"></i> Home</button>
</div>
<br>

  