
li{
    list-style-type:none;
}
.heading{
    padding:15px;
    padding-top: 25px;
    /* padding-left: 35px;  */
}
.cardhover:hover {
    box-shadow: 0 0 11px rgba(33,33,33,.2);  
}
.cardhover{
    transition: box-shadow .3s;
}
.main{
    box-shadow: 0 0 7px rgba(33,33,33,.2);  
}
.card-header:hover {
    cursor: pointer;  
}
.card-header {
    background-color: #7d7d7d;
    color: #fff;
}
.timings{
    border:2px solid #000;
    border-radius: 3px;
    margin: 3px;
    padding: 5px;
}
.bookSpan:hover{
    cursor: pointer;
}