<div class="landing">
    <div class="content">
        <p class="heading">Book your Dream House here</p>
    </div> 
</div>
<br>
<div class="container">
  <div class="row">
    <div class="col-sm-4" *ngFor="let house of data">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"> {{house.hname}} </h5>
          <div class="card-text">
            <p> 
              {{house.nbhk}}bhk <br>
              {{house.sqryards}}sqft <br>
              <b>Area</b>: {{house.area_name}}<br> 
              <b>Price</b>: {{house.price}}
            </p>
            <button type="button" class="btn btn-primary" (click)="check(house.id)" data-toggle="modal" data-target="#exampleModal">
              Book
            </button>
          </div>
        </div>
      </div>
      <br>
    </div>
  </div>
</div>

  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Day: <input type="date" #day>
        </div>
        <div class="modal-footer">
          <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
          <button type="button" class="btn btn-primary" (click)="book(day)" data-dismiss="modal">Book now</button>
        </div>
      </div>
    </div>
  </div>
